@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos aficionados</h1>
    <p>Pagina oficial ecuatoriana de futbol</p>
</div>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px; margin: auto;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imgs/ligapro1.jpeg" class="d-block w-100" alt="Image 1" style="max-height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="~/imgs/ligapro2.jpg" class="d-block w-100" alt="Image 2" style="max-height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="~/imgs/ligapro3.jpg" class="d-block w-100" alt="Image 3" style="max-height: 400px; object-fit: cover;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>